* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #0a0a0a;
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
}

.container {
    width: 1266px;
    margin: 0 auto;
}